# Python
__pycache__/
.ipynb_checkpoints/
.venv/
*.egg-info/

wandb/
artifacts/
checkpoints/
logs/
.aider*
.vscode/
.env
.DS_Store
tmp/
elm-stuff/
data/
shards/

# Testing
.coverage
.coverage.*
coverage.json

.hypothesis/

pytest.json
