# Python
__pycache__/
.ipynb_checkpoints/
.venv/
*.egg-info/

wandb/
artifacts/
checkpoints/
logs/
.hypothesis/
.aider*
.env
.DS_Store
tmp/
elm-stuff/
data/

# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
